@media all and (min-width: 960px) {
  body {
    font-size: 18px; } }
@media all and (max-width: 959px) and (min-width: 602px) {
  body {
    font-size: 16px; } }
@media all and (max-width: 601px) {
  body {
    font-size: 12px; } }
body {
  margin: 0px;
  min-width: 600px; }

.active {
  border-top: 4px solid white; }

.nav {
  padding: 10px 0px 10px 0px;
  background-color: #104E8B;
  text-align: center;
  position: fixed;
  margin: auto;
  width: 100%;
  min-width: 600px; }
  .nav .wrapper-a {
    text-align: center;
    max-width: 800px;
    margin: 0;
    width: 100%;
    display: inline-block;
    box-sizing: border-box; }
    .nav .wrapper-a a {
      text-decoration: none;
      color: white;
      margin: .8em;
      font-size: 140%;
      padding: 8px 0; }

.header {
  background-color: #4682B4;
  padding: 8% 0;
  min-height: 80px;
  font-family: sans-serif; }
  .header .wrapper-b {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: white; }
    .header .wrapper-b #name {
      font-size: 500%;
      display: inline-block;
      white-space: nowrap; }
    .header .wrapper-b #title {
      color: #CAE1FF;
      word-spacing: .3em;
      letter-spacing: .2em;
      font-size: 150%;
      display: inline-block;
      white-space: nowrap; }

.container-prj {
  text-align: center;
  margin: 0 0 50px 0;
  padding: 25px 5px 20px 5px;
  font-family: "brandon-grotesque",sans-serif; }
  .container-prj .wrapper-prj {
    max-width: 450px;
    padding: 30px 15px 30px 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top; }
    .container-prj .wrapper-prj a {
      color: inherit;
      text-decoration: inherit;
      cursor: pointer; }
      .container-prj .wrapper-prj a .container-img {
        border-radius: 5px;
        box-shadow: 0 0 0 1px #cecece, 0 2px 0 1px #cecece;
        overflow: hidden; }
        .container-prj .wrapper-prj a .container-img .prj-img {
          height: auto;
          width: 100%; }
      .container-prj .wrapper-prj a .prj-title {
        font-size: 160%;
        margin: 20px; }
      .container-prj .wrapper-prj a .prj-desc {
        color: #C1C1C1;
        font-size: 114%; }

.about-wrapper {
  background-color: #eeeeee; }
  .about-wrapper .row1 {
    padding: 20px 0 20px 0; }
    .about-wrapper .row1 #line {
      margin: 15px auto;
      background-color: black;
      height: 5px;
      width: 75px; }
    .about-wrapper .row1 #about-me {
      text-align: center;
      font-size: 175%;
      letter-spacing: 2px;
      color: #292b2c; }
  .about-wrapper .row2 {
    margin: 0 auto;
    padding: 30px 0px 40px 0;
    text-align: center; }
    .about-wrapper .row2 #background-wrapper {
      vertical-align: top;
      display: inline-block;
      max-width: 500px;
      margin: 20px; }
      .about-wrapper .row2 #background-wrapper #background {
        text-align: left;
        font-family: sans-serif;
        line-height: 26px; }
    .about-wrapper .row2 #skills-wrapper {
      display: inline-block;
      max-width: 500px;
      vertical-align: top; }
      .about-wrapper .row2 #skills-wrapper #skills {
        text-align: left;
        line-height: 26px; }
  .about-wrapper #social-media {
    padding-bottom: 30px; }
    .about-wrapper #social-media #media-wrapper {
      font-size: 55px;
      text-align: center; }
      .about-wrapper #social-media #media-wrapper a {
        text-decoration: none;
        color: inherit; }
      .about-wrapper #social-media #media-wrapper #github-icon {
        margin-right: 50px;
        cursor: pointer; }
      .about-wrapper #social-media #media-wrapper #linkedin-icon {
        margin-right: 50px; }

#gform {
  padding: 75px; }
  #gform .contact-title {
    margin: 0px 0px 35px 0px;
    font-size: 175%; }

#thankyou_message {
  text-align: center;
  margin: 100px 60px; }

#footer {
  position: absolute;
  width: 100%;
  height: 55px;
  background-color: #104E8B; }

/*# sourceMappingURL=styles.css.map */
